* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Heade style */
.header {
  padding: 20px;
  background-color: aquamarine;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 75%
}
.logo {
  color: aliceblue;
  font-family: cursive
}

.links ul{
  display: flex;
  justify-content: end;
  list-style-type: none;
  color: aliceblue;
}

.links li {
  margin-left: 3%;
}

.links a {
  color: rgb(255, 0, 0);
}

/* Banner */

.hero-banner {
  padding: 20px;
  background-color: rgb(12, 16, 15);
  background-image: url("./../images/02-hero-bg.jpg");
  display: grid;
  align-items: center;
  height: 150px;
  color: aliceblue;
}