* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #4E342E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Heade style */
.header {
  padding: 20px;
  background-color: #4E342E;
  background-size: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 25% 75%
}
.logo {
  display:flex;
  margin-left: 10px;
  color: #B2DFDB;
  font-family:monospace;
  font-style: oblique;
}

.logo img {
  display: flex;
  width: 100%;
  border: 10px #E91E63;
  margin-right: 20px;
}

.links ul{
  display: flex;
  justify-content: end;
  list-style-type: none;
  color:  #868282;
}

.links li {
  margin-left: 3%;
}

.links a {
  color: #FBC02D;
  font-size:larger
}


/* Banner */

.hero-banner {
  padding: 20px;
  background-color: rgb(12, 16, 15);
  background-image: url("./../images/top-view-colorful-paper-sheets.jpg");
  background-repeat: round;
  background-size: auto;
  display: grid;
  align-items: center;
  height: 150px;
  color: aliceblue;
}

/* Content Section */

.page-section {
  padding: 30px;
  display:grid;
  border: 10px; 
  margin-top: 20px; margin: 30px;
  border-radius: 10px;
  border-width: 5px;
  background-color:#B2DFDB;
}

h2 {
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #E91E63;
  font-size: 20px;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "job1 job1"
  "job2 job3"
  "job4 job5"
  ;
}

.job1 {
  grid-area: job1;
  ;
}

.job2 {
  grid-area: job2;
}

.job3 {
  grid-area: job3;
}

.job4 {
  grid-area: job4;
}

.job5 {
  grid-area: job5;
}

/*

/*.examples img {
  width: 100%;
}*/

/*.column-examples {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 20px;
}
*/

/* Contact me*/

.contact {
  display:grid;
  text-align: start;
}

.contact h3 {
  color: pink;
  margin-bottom: 10px;
}

.contact img {
  width: 100px;
}
